*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("assets/fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("assets/fonts/Ubuntu-Bold.ttf");
  font-weight: 900;
}
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purple-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia-clr: hsl(217, 100%, 97%);
  --alabaster-clr: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --elastic-timing: cubic-bezier(.25, .1, .3, 1.5);
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  position: absolute;
  opacity: 0;
}

.block {
  display: block;
}

.input-label {
  font-family: "Ubuntu";
  font-size: 0.85em;
  color: var(--marine-blue);
}

legend {
  --gap: 1rem;
  padding: 0;
}

.form {
	--neg-margin: -3rem;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.indicators.indicators {
  display: flex;
  justify-content: space-evenly;
  align-content: start;
  min-height: 8rem;
  margin-inline: 0;
  margin-block: 0 var(--neg-margin);
  padding-block-start: 1rem;
  background: url(assets/images/bg-sidebar-mobile.svg) center/cover no-repeat;
}

.step-active {
	--bg-clr: var(--light-blue);
	--clr: var(--marine-blue);
	--bd-clr: var(--light-blue);
}

.step-indicator {
  counter-increment: indicator_index;
}

.step-indicator::before {
	content: counter(indicator_index);
	width: 2rem;
	aspect-ratio: 1;
	border: solid 2px var(--bd-clr, var(--white));
	display: inline-block;
	border-radius: 50%;
	padding: 0.3em;
	text-align: center;
	font-size: 0.85em;
	background-color: var(--bg-clr, transparent);
	color: var(--clr, white);
}

.toggle-wrapper {
  --toggle-clr: var(--marine-blue);
  font-size: 1.2em;
  color: var(--marine-blue);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alabaster-clr);
  border-radius: 0.5rem;
}
.toggle-wrapper > .toggle-label:last-of-type {
  order: 1;
}

.toggle {
  --plan: var(--monthly-plan);
  --monthly-plan: var(--plan,);
  --yearly-plan: var(--plan,);
  position: relative;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--toggle-clr);
  border-radius: 1rem;
  margin-inline: 1.5rem;
  order: 0;
}

input[value="month"]:checked ~ .toggle {
  --plan: var(--monthly-plan);
}
input[value="year"]:checked ~ .toggle {
  --plan: var(--yearly-plan);
}

.toggle::before {
  content: "";
  position: absolute;
  width: 1rem;
  top: 0.2rem;
  left: 0.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white);
  transform: var(--monthly-plan, none) var(--yearly-plan, translateX(calc(100% + 0.5rem)));
}

input[type="radio"]:not(:checked) + .toggle-label {
  color: var(--cool-gray);
}

.i-container {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  isolation: isolate;
}

.i-check {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  opacity: 0;
  margin: 0;
}

.i-check:is(:checked) + .addon-check {
  stroke-dashoffset: 0;
  background-color: var(--primary-clr);
  border-color: var(--primary-clr);
}

.addon-check {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--cool-gray);
  padding: 0.15rem;
  stroke: var(--white);
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  z-index: -1;
}

.addon {
  --primary-clr: var(--purple-blue);
  color: var(--marine-blue);
  border-radius: 0.5rem;
  border: 1px solid var(--light-gray);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addon-active {
  border-color: var(--primary-clr);
  background-color: var(--magnolia-clr);
}

.addon-plan {
  display: inline-flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
  margin-inline-start: 1rem;
}

.addon__title {
  font-weight: 500;
  letter-spacing: 0.01px;
  font-size: 1.05em;
}

.addon__title + * {
  font-size: 0.8em;
  color: var(--cool-gray);
  letter-spacing: 0.1px;
}

.addon__cost {
  font-size: 0.75em;
  color: var(--primary-clr);
}

.step-indicator > p:only-child {
  display: none;
}

.form-content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
    flex: 2;
}

.steps-wrapper {
	background-color: var(--white);
	max-width: 95vw;
	border-radius: 0.5rem;
	padding-block: 1.5rem;
	padding-inline: 0.75rem;
	box-shadow: 1px 4px 8px 0px var(--light-gray);
	position: relative;
	overflow: hidden;
}

.step-out {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.step {
	--gap: 0.75rem;
	margin: 0;
	border: none;
	padding-inline: 0.25rem;
	transform: translateX(calc(var(--i) * 100%));
}

.column > * + * {
  margin-top: var(--gap, 1rem);
}

body {
  background-color: var(--magnolia-clr);
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
}

input[type="text"] {
  font-size: 1.25em;
  min-width: 100%;
  min-height: 2.5rem;
  padding-inline: 0.5rem;
  border: solid 1px var(--light-gray);
  border-radius: 0.25rem;
}

.step__title {
  font-family: "Ubuntu Bold";
  color: var(--marine-blue);
  line-height: 1.3;
  letter-spacing: -0.2px;
}

.step__title + p {
  color: var(--cool-gray);
  font-size: 0.9em;
}

.responsive-grid {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap, 1rem);
}

.plan-card {
  background-color: var(--white);
  border: solid 1px var(--light-gray);
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  gap: 1rem;
}

.btn-primary {
  --active-clr: var(--white);
  --active-bg: var(--marine-blue);
}

.btn-confirm {
  --active-clr: var(--white);
  --active-bg: var(--purple-blue);
}

.hidden {
    visibility: hidden;
}

.plan__title {
  color: var(--marine-blue);
  font-size: 1rem;
}

.primary-clr {
  color: var(--marine-blue);
}

.c-gray-clr {
  color: var(--cool-gray);
}

.text-medium {
  font-family: "Ubuntu Medium";
}

.gap-1\/2 {
  --gap: 0.5rem;
}

.text-start {
  text-align: start;
}

.nav-btns {
  background-color: var(--white);
  padding-inline: 1rem;
  padding-block: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.nav-btn {
  background-color: var(--active-bg, var(--white));
  border: none;
  color: var(--active-clr, var(--cool-gray));
  letter-spacing: 0.5px;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  min-width: 5rem;
}

.attribution {
	font-size: 0.675em;
	text-align: end;
	padding-block: 0.5em;
	color: var(--marine-blue);
	text-transform: capitalize;
	font-style: italic;
    letter-spacing: -.2px;
}
.attribution-lnk {
  color: var(--cool-gray);
  display: inline-block;
}
.attribution-lnk:hover,
.attribution-lnk:focus {
    text-decoration: none;
    color: var(--purple-blue);
    padding: 0.2em;
  border: 1px dashed var(--cool-gray);
}
footer {
  padding-block: 0 1rem;
}

@media screen and (min-width: 375px) {
  .card {
    max-width: 256px;
  }
}


@media(prefers-reduced-motion: no-preference) {
    .step-indicator::before,
    .addon-check,
    .addon,
    .nav-btn,
    .attribution-lnk {
        transition: all .35s var(--elastic-timing);
    }

    .toggle::before,
    .step {
        transition: transform .35s var(--elastic-timing);
    }
    .toggle-label {
        transition: color .35s ease-out;
    }
}
