*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

button[class] {
    border: none;
    background: transparent;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("assets/fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("assets/fonts/Ubuntu-Bold.ttf");
  font-weight: 900;
}
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purple-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia-clr: hsl(217, 100%, 97%);
  --alabaster-clr: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --elastic-timing: cubic-bezier(.25, .1, .3, 1.5);
  --f-grid-areas: "indicators   indicators  indicators"
                  ".    steps   ."
                  "nav  nav nav";
  --f-grid-temp: .35fr minmax(5rem, 3fr) .35fr / 1rem 3fr 1rem;
  --indicator-bg: url(assets/images/bg-sidebar-mobile.svg);
}

.visually-hidden {
  clip-path: inset(1px);
  position: absolute;
  opacity: 0;
}

.block {
  display: block;
}

.input-label {
  font-family: "Ubuntu";
  font-size: 0.85em;
  color: var(--marine-blue);
}

legend {
  --gap: 1rem;
  padding: 0;
}

.form {
	--neg-margin: -3rem;
	display: grid;
    grid-template: var(--f-grid-temp);
    grid-template-areas: var(--f-grid-areas);
	gap: 1rem;
	min-height: 100vh;
}

.indicators.indicators {
  grid-area: indicators;
  display: flex;
  justify-content: space-evenly;
  align-content: start;
  min-height: 8rem;
  margin-inline: 0;
  margin-block: 0 var(--neg-margin);
  padding-block-start: 1rem;
  background: var(--purple-blue) var(--indicator-bg) center/cover no-repeat;
}

.step-active {
	--bg-clr: var(--light-blue);
	--clr: var(--marine-blue);
	--bd-clr: var(--light-blue);
}

.s-indicator {
	counter-increment: indicator_index;
}

.s-indicator::before {
	content: counters(indicator_index, ".");
	width: 2rem;
	aspect-ratio: 1;
	border: solid 2px var(--bd-clr, var(--white));
	display: inline-block;
	border-radius: 50%;
	padding: 0.3em;
	text-align: center;
	font-size: 0.85em;
	background-color: var(--bg-clr, transparent);
	color: var(--clr, white);
}

.toggle-wrapper {
  --toggle-clr: var(--marine-blue);
  font-size: 1.2em;
  color: var(--marine-blue);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alabaster-clr);
  border-radius: 0.5rem;
  position: relative;
  z-index: 0;
}

.toggle-label {
    flex: 2;
}

.toggle-label:first-of-type {
    text-align: end;
}

.toggle-wrapper > .toggle-label:last-of-type {
  order: 1;
}

.toggle {
  --plan: var(--default-plan);
  --monthly-plan: var(--plan,);
  --yearly-plan: var(--plan,);
  --default-plan: var(--plan,);
  position: relative;
  width: 3rem;
  height: 1.5rem;
  background-color: var(--toggle-clr);
  border-radius: 1rem;
  margin-inline: 1.5rem;
  order: 0;
}

input[value="month"]:checked ~ .toggle {
  --plan: var(--monthly-plan);
}
input[value="year"]:checked ~ .toggle {
  --plan: var(--yearly-plan);
}

.toggle::before {
  content: "";
  position: absolute;
  width: 1rem;
  top: 0.2rem;
  left: 0.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white);
  transform: var(--default-plan, scale(0.5) translateX(calc(50% + 1rem)))
             var(--monthly-plan, none)
             var(--yearly-plan, translateX(calc(100% + 0.5rem)));
}

input[type="radio"]:not(:checked) + .toggle-label {
  color: var(--cool-gray);
}

.i-container {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  isolation: isolate;
}

.i-check {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  opacity: 0;
  margin: 0;
}

.i-check:checked + .addon-check {
  stroke-dashoffset: 0;
  background-color: var(--primary-clr);
  border-color: var(--primary-clr);
}

.addon-check {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--cool-gray);
  padding: 0.15rem;
  stroke: var(--white);
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  z-index: -1;
}
.addon {
	--primary-clr: var(--purple-blue);
	color: var(--marine-blue);
	padding-inline: 1rem;
	padding-block: 0.5rem;
	display: grid;
	grid-template-areas: "check label cost";
	gap: .5rem;
	grid-template-columns: .5fr 5fr 1fr;
	align-items: center;
    position: relative;
    isolation: isolate;
}

.i-container:has(.i-check:checked) + .addon-plan {
    --plan-border: var(--purple-blue);
    --plan-bg: var(--magnolia-clr);
}

.addon-active {
  border-color: var(--primary-clr);
  background-color: var(--magnolia-clr);
}

.addon-plan {
  display: inline-flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: column;
  margin-inline-start: 1rem;
}

.addon__title {
  font-weight: 500;
  letter-spacing: 0.01px;
  font-size: 1.05em;
}

.addon__title + * {
  font-size: 0.8em;
  color: var(--cool-gray);
  letter-spacing: 0.1px;
}

.addon__cost {
  font-size: 0.75em;
  color: var(--primary-clr);
  text-align: end;
}

.s-indicator__desc:only-child {
	display: none;
	font-family: "Ubuntu-Bold";
	color: var(--white);
	font-weight: 700;
	text-transform: uppercase;
    /*for fallback when container query is not supported*/
    font-size: clamp(.5rem, 1vw, 1rem);
	font-size: clamp(.5rem, 10cqw, 1rem);
	grid-area: description;
}
.s-indicator__desc::before {
	display: block;
	content: "Step " counters(indicator_index, ".");
	color: var(--cool-gray);
	font-size: .75em;
}

.form-content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
    flex: 2;
}

.steps-wrapper {
	grid-area: steps;
	align-self: start;
	background-color: var(--white);
	border-radius: 0.5rem;
	padding-block: 1.5rem;
	padding-inline: 0.75rem;
	box-shadow: 1px 4px 8px 0px var(--light-gray);
	position: relative;
	max-height: 70vh;
    overflow: hidden;
}
.step-out {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.step {
	--gap: 0.75rem;
	border: none;
	padding-inline: 0;
    padding-block: 0;
    margin-inline: 0;
    margin-block: 0;
    min-inline-size: auto;
	transform: translateX(calc(calc(var(--i)  -  var(--current)) * 100%));
}

.column > * + * {
  margin-top: var(--gap, 1rem);
}

body {
  background-color: var(--magnolia-clr);
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
}

input[type="text"] {
  font-size: 1.25em;
  max-width: 100%;
  min-height: 3rem;
  padding-inline: .5rem;
  border: solid 1px var(--light-gray);
  border-radius: 0.25rem;
}

.step__title {
  font-family: "Ubuntu Bold";
  color: var(--marine-blue);
  line-height: 1.3;
  letter-spacing: -0.2px;
}

.step__title + p {
  color: var(--cool-gray);
  font-size: 0.9em;
}

.plan-card {
  background-color: var(--white);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  display: grid;
  grid-template-areas: "img title"
                        "img  cost"
                        ".  discount";

  gap: .25rem 1rem;
  text-align: start;
  grid-template-columns: 1fr 5fr;
  position: relative;
  isolation: isolate;
}


.plan__img {
    grid-area: img;
}

.plan__cost {
    grid-area: cost;
    color: var(--cool-gray);
    font-family: "Ubuntu-Medium";
}

.plan__discount {
    grid-area: discount;
    color: var(--marine-blue);
}

.btn-primary {
  --active-clr: var(--white);
  --active-bg: var(--marine-blue);
}

.btn-confirm {
  --active-clr: var(--white);
  --active-bg: var(--purple-blue);
}

.hidden {
    visibility: hidden;
}

input[type="radio"]:is(:checked) + .plan__title {
    --plan-bg: var(--magnolia-clr);
    --plan-border: var(--pastel-blue);
}

.plan__title {
  color: var(--marine-blue);
  font-size: 1rem;
  grid-area: title;
}

.extend-click::before,
.extend-click::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
}

.extend-click::before {
    background-color: var(--plan-bg, var(--white));
    z-index: -1;
}

.extend-click::after {
    z-index: 3;
    border: solid 1px var(--plan-border, var(--light-gray));
}

.primary-clr {
  color: var(--marine-blue);
}

.c-gray-clr {
  color: var(--cool-gray);
}

.text-medium {
  font-family: "Ubuntu Medium";
}

.gap-1\/2 {
  --gap: 0.5rem;
}

.text-start {
  text-align: start;
}

.nav-btns {
  grid-area: nav;
  background-color: var(--white);
  padding-inline: 1rem;
  padding-block: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.nav-btn.nav-btn {
  font-family: "Ubuntu Medium";
  background-color: var(--active-bg, var(--white));
  color: var(--active-clr, var(--cool-gray));
  letter-spacing: 0.5px;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  min-width: 5rem;
}

.attribution {
	font-size: 0.675em;
	text-align: end;
	padding-block: 0.5em;
	color: var(--marine-blue);
	text-transform: capitalize;
	font-style: italic;
    letter-spacing: -.2px;
}
.attribution-lnk {
  color: var(--cool-gray);
  display: inline-block;
}
.attribution-lnk:hover,
.attribution-lnk:focus {
    text-decoration: none;
    color: var(--purple-blue);
    padding: 0.2em;
  border: 1px dashed var(--cool-gray);
}
footer {
  padding-block: 0 1rem;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--col-width, 10rem)), 1fr));
    grid-auto-rows: minmax(var(--min-row,5rem), auto);
    gap: 1rem;
}
.p-swap {
    text-transform: capitalize;
    display: block;
    color: var(--cool-gray);
    font-size: .9em;
    font-weight: 500;
    text-decoration: underline from-font solid;
    letter-spacing: .8px;
    padding-inline: 0;
    line-height: 1.8;
}
.t-checkout {
    --gap: 1.5rem;
    width: 100%;
    color: var(--marine-blue);
    background-color: var(--alabaster-clr);
    border-radius: .5rem;
    table-layout: fixed;
    padding: 1rem .75rem;
}

.t-checkout tbody {
    --r-spacing: 1rem .25rem;
    font-weight: 400;
    position: relative;
    color: var(--cool-gray);
}

.t-checkout tbody::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    inset-block-start: 0;
    height: 1px;
    background-color: var(--light-gray);
}

.t-checkout thead {
    --r-spacing: .5rem 1rem;
    font-weight: 700;
}

.t-checkout td {
    padding-block: var(--r-spacing);
}

.t-checkout td:last-child{
    text-align: end;
    color: var(--marine-blue);
}

.t-recap {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    line-height: 1.8;
    color: var(--cool-gray);
    letter-spacing: .1px;
}

.t-recap__amt {
    font-size: 1.25em;
    font-weight: 700;
    color: var(--purple-blue);
}

@media screen and (min-width: 400px) {
    :root {
        --f-grid-areas: "indicators steps steps"
                        "indicators steps steps"
                        "indicators nav nav";
        --f-grid-temp: repeat(2, 2fr) .4fr / repeat(3, 1fr);
        --indicator-bg: url(assets/images/bg-sidebar-desktop.svg);
    }

    .form {
        background-color: var(--white);
        padding-inline: 1rem .5rem;
        padding-block: 1rem;
    }

    input[type="text"] {
        min-height: 4rem;
        min-width: 100%;
    }
    .s-indicator {
        display: inline-grid;
        grid-template-areas: ". description";
        gap: 1rem;
        grid-template-columns: minmax(2rem, .25fr) 5fr;
        container: indicator / inline-size;
    }

    .input-label {
        --gap: 1rem;
    }

    .steps-wrapper {
        padding-inline-start: 0;
        box-shadow: none;
        max-height: 80vh;
    }

    .indicators.indicators {
        margin-block: 0;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        border-radius: .5rem;
        padding-inline: 1.5rem 1rem;
        padding-block: 3rem;
    }
    .s-indicator__desc:only-child {
        display: block;
    }

    .plan-card {
        grid-template-areas: "img"
                             "title"
                             "cost"
                             "discount";
        grid-template-rows: 3fr repeat(3, .25fr);
        grid-template-columns: 1fr;
        padding-block: 2rem 1rem;
        line-height: 1.6;
    }

}

@media screen  and (min-width: 900px){
    .form {
        --col-width: 8rem;
        max-width: 875px;
        min-height: min-content;
        gap: 1rem 3rem;
        padding-inline-end: 3rem;
        border-radius: .5rem;
        box-shadow: 1px 4px 8px 0px var(--light-gray);
    }

    .main-content {
        min-height: 100vh;
        display: grid;
        place-content: center;
    }
}


@media(prefers-reduced-motion: no-preference) {
    .s-indicator::before,
    .addon-check,
    .addon,
    .nav-btn,
    .attribution-lnk {
        transition: all .35s var(--elastic-timing);
    }

    .toggle::before,
    .step {
        transition: transform .35s var(--elastic-timing);
    }
    .toggle-label {
        transition: color .35s ease-out;
    }

    .extend-click::before,
    .extend-click::after {
        transition: all .35s ease-out;
    }
}
